div.jp-audio {
	width:520px;
	min-height: 170px;
	background-image:url('bg-pattern.jpg');
}
div.jp-interface {

	background-image:url('bg-pattern.jpg') repeat;
}
div.jp-play{

}
ul.jp-controls{
	width:480px;
}